.container{
    display: flex;
    flex-direction: row-reverse;
}

.item{
    height: 100px;
    width: 100px;
}

.green{
    background: green;
    flex-grow: 1;
}

.yellow{
    background: yellow;
    flex-grow: 2;
}

.purple{
    background: purple;
    flex-grow: 1;
}