.border{
    border: 1px solid black;
    border-radius: 1%;
    margin: 0 auto;
    width: 960px;
}
.white{
    border-bottom: 1px solid black;
    height: 60px;
}
.container{
    display: flex;
    max-width: 920px;
    height: 500px;
    flex-flow: column;
    border-radius: 1%;
    padding: 20px;
}
.top{
    display:flex;
    flex-flow: row;
    background: purple;
    height: 50px;
    width: 920px;
    margin-bottom: 0px;
    margin-top:0px;
    position: absolute;
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
}

.item{
    background:#00ffff;
    width: 10%;
    height: 25px;
    display:flex;
    position: relative;
    margin-right:10px;
}
.botton{
    display:flex;
    flex-flow: row;
    flex-basis: 500px;
}
.left{
    background: yellow;
    width:70%;
    
}
.right{
    background:green;
    width:30%;
    
}  

