.background{
    background:grey;
    width: 500px;
    height: 500px;;
    Z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.square{
    width:98px;
    height:98px;
    float:left;
    position:absolute;
    margin:25px;
}
.white{
    background:white;
    transform: rotate(45deg);
    Z-index: 2;
}
.red{
    display:flex;
    border:2px solid red;
    Z-index: 4;
    justify-content: center;
    align-items: center;
}
.text{
    position:absolute;
    color:red;
    font-size:16px;
    Z-index: 3;
    font-weight: bold;
}
.red:hover{
    transform: rotate(45deg);
}
.red:hover .text{
    transform: rotate(315deg);
}