*{
    padding: 0px;
}
.container{
    display: flex;
    flex-flow: row;
    background: yellow;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    
    
}

.item{
    position:relative;
    display:flex;
    background: purple;
    height: 100px;
    width: 100px;
    margin-right:10px;
    
}